.ui-icon-customcalendar {  
    background-image: url("/siz/resources/img/16/calendar.png") !important;  
} 

.ui-icon-customdelete {  
    background-image: url("/siz/resources/img/16/delete.png") !important;  
} 

.ui-icon-customadd {  
    background-image: url("/siz/resources/img/16/add.png") !important;  
} 

.ui-icon-customedit {  
    background-image: url("/siz/resources/img/16/edit.png") !important;  
} 

.ui-icon-customsearch {  
    background-image: url("/siz/resources/img/16/search.png") !important;  
} 

.ui-icon-customcheck {  
    background-image: url("/siz/resources/img/16/check.png") !important;  
} 

.ui-icon-custompreview {  
    background-image: url("/siz/resources/img/16/preview.png") !important;  
} 

.ui-icon-customupload {  
    background-image: url("/siz/resources/img/16/upload.png") !important;  
} 

.ui-icon-customlogin {  
    background-image: url("/siz/resources/img/16/login.png") !important;  
} 

.ui-icon-customlogout {  
    background-image: url("/siz/resources/img/16/logout.png") !important;  
} 

.ui-icon-customprint {  
    background-image: url("/siz/resources/img/16/print.png") !important;  
} 

.ui-icon-customactive {  
    background-image: url("/siz/resources/img/16/active.png") !important;  
} 

.ui-icon-custominactive {  
    background-image: url("/siz/resources/img/16/inactive.png") !important;  
} 

.ui-icon-customcog {  
    background-image: url("/siz/resources/img/16/cog.png") !important;  
}

.ui-icon-customshield {  
    background-image: url("/siz/resources/img/16/shield.png") !important;  
}  

.ui-icon-customclip {  
    background-image: url("/siz/resources/img/16/clip.png") !important;  
}  

.ui-icon-customfile {  
    background-image: url("/siz/resources/img/16/file.png") !important;  
}  

.ui-icon-customformin {  
    background-image: url("/siz/resources/img/16/form_in.png") !important;  
}

.ui-icon-customarrow-right {  
    background-image: url("/siz/resources/img/16/arrow_right.png") !important;  
}

.ui-icon-customexcel {
    background-image: url("/siz/resources/img/16/excel.png") !important;  
}