<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">
	
	<ui:composition template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="formListaTipoChaveSecundariaVisitaPropriedadeRurals">
				
				<p:messages id="pmessages"/>
			
				<p:dataTable emptyMessage="Nenhum registro" 
						value="#{tipoChaveSecundariaVisitaPropriedadeRuralManagedBean.listaTipoChaveSecundariaVisitaPropriedadeRural}" 
						var="tipoChaveSecundariaVisitaPropriedadeRural" 
						id="tableTipoChaveSecundariaVisitaPropriedadeRurals"
						paginatorPosition="bottom"
						paginator="true" 
						lazy="true"
						sortBy="nome"
						sortOrder="ASCENDING"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						currentPageReportTemplate="({startRecord} - {endRecord} #{paginatorMessage ne null ? paginator : 'Total' } {totalRecords})"
						rows="10"
						rowsPerPageTemplate="10,20,50">
						
					<f:facet name="header">
						<h:outputLabel value="Tipo chave secundária"/>
					</f:facet>
						
					<p:column headerText="Nome">
						#{tipoChaveSecundariaVisitaPropriedadeRural.nome}
					</p:column>
					
					<p:column headerText="Status" style="width: 100px;">
						#{tipoChaveSecundariaVisitaPropriedadeRural.status.descricao}
					</p:column>
					
					<p:column style="width: 60px; text-align: right">
						<f:facet name="header">
							<p:commandButton icon="ui-icon-customadd"
								action="pretty:incluirTipoChaveSecundariaVisitaPropriedadeRural" 
								title="Novo" />
						</f:facet>
					
						<p:commandButton icon="ui-icon-customedit"
								action="pretty:alterarTipoChaveSecundariaVisitaPropriedadeRural" 
								title="Editar" 
								onclick="this.form.target='_self'">
							<f:setPropertyActionListener target="#{tipoChaveSecundariaVisitaPropriedadeRuralManagedBean.id}" value="#{tipoChaveSecundariaVisitaPropriedadeRural.id}" />
						</p:commandButton>
						
						<p:commandButton onclick="if (!window.confirm('Deseja desativar o tipo de chave??') ) {return false}" 
								actionListener="#{tipoChaveSecundariaVisitaPropriedadeRuralManagedBean.desativar(tipoChaveSecundariaVisitaPropriedadeRural)}" 
								title="Desativar" 
								icon="ui-icon-customactive"
								rendered="#{tipoChaveSecundariaVisitaPropriedadeRuralManagedBean.isAtivado(tipoChaveSecundariaVisitaPropriedadeRural)}">
							<f:ajax render=":formListaTipoChaveSecundariaVisitaPropriedadeRurals:tableTipoChaveSecundariaVisitaPropriedadeRurals :pgrowl :formListaTipoChaveSecundariaVisitaPropriedadeRurals:pmessages" 
									immediate="true"/>
						</p:commandButton>
						
						<p:commandButton onclick="if (!window.confirm('Deseja ativar o tipo de chave??') ) {return false}" 
								actionListener="#{tipoChaveSecundariaVisitaPropriedadeRuralManagedBean.ativar(tipoChaveSecundariaVisitaPropriedadeRural)}" 
								title="Ativar" 
								icon="ui-icon-custominactive"
								rendered="#{not tipoChaveSecundariaVisitaPropriedadeRuralManagedBean.isAtivado(tipoChaveSecundariaVisitaPropriedadeRural)}">
							<f:ajax render=":formListaTipoChaveSecundariaVisitaPropriedadeRurals:tableTipoChaveSecundariaVisitaPropriedadeRurals :pgrowl :formListaTipoChaveSecundariaVisitaPropriedadeRurals:pmessages" 
									immediate="true"/>
						</p:commandButton>
					</p:column>
				</p:dataTable>
				
			</h:form>
		</ui:define>
	</ui:composition>
</html>
