<?xml version="1.0" encoding="ISO-8859-1"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<p:panel>
		<o:field label="Nome">
			<p:inputText label="Nome" 
					value="#{managedBean.pessoa.nome}" 
					size="80" 
					required="true"
					onkeyup="up(this)"/>
		</o:field>
		
		<o:field label="Sigla/Apelido">
			<p:inputText label="Sigla/Apelido" 
					value="#{managedBean.pessoa.apelido}"/>
		</o:field>
		
		<o:field label="CNPJ" 
				id="fieldCPFRevenda">
			<p:inputMask label="CNPJ" 
					id="campoCpfRevenda" 
					value="#{managedBean.pessoa.cpf }"
					mask="99.999.999/9999-99" 
					required="true"/>
		</o:field>
	</p:panel>
	
	<br/>
		
	<ui:include src="../includes/../includes/include_endereco_pessoa.xhtml">
		<ui:param name="managedBean" 
				value="#{managedBean}" />
	</ui:include>
		
</ui:composition>