<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:p="http://primefaces.org/ui"
   xmlns:o="http://java.sun.com/jsf/composite/componentes"
   xmlns:pe="http://primefaces.org/ui/extensions">

   <f:loadBundle var="messages" basename="messages" />
	
   <h:head>
      <title>Sistema de Informações Zoosanitárias - MT</title>
      <h:outputStylesheet name="style.css" library="css"/>
      <h:outputStylesheet name="widths.css" library="css"/>
      <h:outputStylesheet name="icons.css" library="css"/>
      
      <h:outputStylesheet library="primefaces" name="components.css" />
	  <h:outputScript library="primefaces" name="core.js" />
	  <h:outputScript library="primefaces" name="components.js" />
	  <h:outputScript library="primefaces" name="jquery/jquery-plugins.js" />
      
      <style>
          ul.ui-menu-child {
              width: 175px !important;
          }
      </style>
      
      <link href="https://fonts.googleapis.com/css?family=Antic+Slab" rel="stylesheet"/>
      <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/favicon/favicon.ico"/>
      
      <script src="#{facesContext.externalContext.requestContextPath}/resources/js/locale-primefaces.js" type="text/javascript"/>
      
      <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.limit-1.3.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.price_format.1.5.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/jquery.alphanumeric.js" type="text/javascript"/>
	  <script src="#{facesContext.externalContext.requestContextPath}/resources/js/javascript.js" type="text/javascript"/>
      
      <script type="text/JavaScript">
		  function up(lstr){
		    var str=lstr.value;
		    lstr.value=str.toUpperCase();
		  }
		  function down(lstr){
		    var str=lstr.value;
		    lstr.value=str.toLowerCase();
		  }
		  
		  function numericFilter(txb) {
			txb.value = txb.value.replace(/\D/g,"");
		  }

		  function focusElement(id){
			var e = document.getElementById(id);
			e.focus();
		  }

		  function hideDialogAfterSuccess(args, dialog){
			if (args &amp;&amp; !args.validationFailed)
				dialog.hide();
		  }

		  function moeda(z){  
			v = z.value;
			v = v.replace(/\D/g,"")  //permite digitar apenas números
			v = v.replace(/[0-9]{12}/,"inválido")   //limita pra máximo 999.999.999,99
			v = v.replace(/(\d{1})(\d{8})$/,"$1.$2")  //coloca ponto antes dos últimos 8 digitos
			v = v.replace(/(\d{1})(\d{5})$/,"$1.$2")  //coloca ponto antes dos últimos 5 digitos
			v = v.replace(/(\d{1})(\d{1,2})$/,"$1:$2")        //coloca virgula antes dos últimos 2 digitos
			z.value = v;
		  }


		  function mascara_telefone(o){
				v_obj=o
				v_fun=mtel
				setTimeout("execmascara()",1)
			}
			function execmascara(){
				v_obj.value=v_fun(v_obj.value)
			}
			function mtel(v){
				v=v.replace(/\D/g,"");//Remove tudo o que não é dígito
				v=v.replace(/^(\d{2})(\d)/g,"($1) $2");//Coloca parênteses em volta dos dois primeiros dígitos
				v=v.replace(/(\d)(\d{4})$/,"$1-$2");//Coloca hífen entre o quarto e o quinto dígitos
				return v;
			}
			function id( el ){
				return document.getElementById( el );
			}
					  
	  </script>
	  
	  <script type="text/javascript">
	  	window.history.forward();
	   	function noBack() { window.history.forward(); }
	  </script>
      
      <ui:insert name="head"/>
   </h:head>
	<h:body onload="noBack();"
   	  	    onpageshow="if (event.persisted) noBack();" 
   		    onunload="">
   		   
		<p:outputPanel id="pgrowl" ajaxRendered="true">
			<p:growl id="growl"
				sticky="false"  
				showSummary="true" 
				showDetail="true" 
				globalOnly="false"
				autoUpdate="true"/>
		</p:outputPanel>
      
      <div id="geral">

		  <div id="header">
		  	<div style="width: 1050px; margin: auto;">
		  		<div id="contentHeader">
			  		<img src="#{resource['img/logos/SIZ.png']}" alt="" height="80px" width="80px"/>
			  		<div style="font-family: 'Antic Slab', serif">
				    	<div style="font-size: 40px; font-weight: bold;">
				    		SIZ
			    		</div>
				    	<div style="font-size: 20px;">
				    		Sistema de Informações Zoosanitárias
			    		</div>
				    </div>
				</div>
			</div>​
		  </div>
		
	   	  <div id="content">
	   	  	<div id="formulario">
	   	  		<h:form>
	                <p:menubar rendered="#{loginManagedBean.usuarioAutenticado}">
						<p:menuitem value="Dashboard" 
								action="pretty:dashboard"/>
								
						
						<p:submenu label="Educação Sanitária">
							<p:menuitem value="Registro de ações Educativas - FORM EDUCA" 
									onclick="PF('modalFormEduca').show()"/>
							<p:menuitem value="Registro de distribuilção de materiais gráficos - FORM GRAF" 
									onclick="PF('modalFormGraf').show()"/>
						</p:submenu>									
								
						<p:submenu label="Fiscalização"
							rendered="#{loginManagedBean.userSecurity.hasAuthorityFormIN() or loginManagedBean.userSecurity.hasAuthorityVisitaPropriedadeRural() or loginManagedBean.userSecurity.hasAuthorityTermoFiscalizacao() or loginManagedBean.userSecurity.hasAuthorityVigilanciaVeterinaria()}">
							<p:menuitem value="Form IN" 
									action="pretty:pesquisarFormIN"
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityFormIN()}"/>
		                	<p:menuitem value="Visita propriedade rural"
									action="pretty:pesquisarVisitaPropriedadeRural"
	                				rendered="#{loginManagedBean.userSecurity.hasAuthorityVisitaPropriedadeRural()}"/>
               				<p:menuitem value="Termo de fiscalização"
									action="pretty:pesquisarTermoFiscalizacao" 
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityTermoFiscalizacao()}"/>
			                <p:menuitem value="Vigilância veterinária"
									action="pretty:pesquisarVigilanciaVeterinaria" 
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityVigilanciaVeterinaria()}"/>
						</p:submenu>
						
						<p:submenu label="Notificação" 
	                			rendered="#{loginManagedBean.userSecurity.hasAuthorityFormNotifica() or loginManagedBean.userSecurity.hasAuthorityEnfermidadeAbatedouroFrigorifico()}">
							<p:menuitem value="Form Notifica" 
									action="pretty:pesquisarFormNotifica"
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityFormNotifica()}"/>
							<p:submenu label="Enfermidade Abatedouro-Frigorífico" 
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityEnfermidadeAbatedouroFrigorifico()}">
								<p:menuitem value="Lista Enfermidades" 
										action="pretty:pesquisarEnfermidadeAbatedouroFrigorifico"
				                		rendered="#{loginManagedBean.userSecurity.hasAuthorityEnfermidadeAbatedouroFrigorifico()}"/>
		                		<p:menuitem value="Formulários de Colheita" 
										action="pretty:pesquisarFormularioColheita" 
				                		rendered="#{loginManagedBean.userSecurity.hasAuthorityEnfermidadeAbatedouroFrigorifico()}"/>
	                		</p:submenu>
						</p:submenu>
		               	
		               	<p:submenu label="Relatórios"
								rendered="#{loginManagedBean.userSecurity.hasAuthorityFormIN() or loginManagedBean.userSecurity.hasAuthorityVisitaPropriedadeRural() or loginManagedBean.userSecurity.hasAuthorityTermoFiscalizacao() or loginManagedBean.userSecurity.hasAuthorityVigilanciaVeterinaria()}">
	               	    	<p:menuitem value="Form IN" 
									action="pretty:relatorioFormIN"/>
           	    			<p:menuitem value="Termo de Fiscalização"
									action="pretty:relatorioTermoFiscalizacao"/>
           	    			<p:menuitem value="Vigilância Veterinária"
									action="pretty:relatorioVigilanciaVeterinaria"/>
           	    			<p:menuitem value="Visita Propriedade Rural"
									action="pretty:relatorioVisitaPropriedadeRural"/>
       	    			</p:submenu>
               	    	
               	    	<p:submenu label="Painel de administração"
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityAdmin()}">
			                <p:menuitem value="Parâmetros"  
									action="pretty:visualizarParametrosSIZ"/>
	               	    	<p:submenu label="Controle de acesso">
		               	    	<p:menuitem value="Usuários" 
										action="pretty:pesquisarUsuario"/>
		               	    	<p:menuitem value="Grupos" 
										action="pretty:pesquisarGrupo"/>
		               	    	<p:menuitem value="Permissões" 
										action="pretty:pesquisarPermissao"/>
	               	    	</p:submenu>
	               	    	
	               	    	<p:submenu label="Cadastros auxiliares"
			                		rendered="#{loginManagedBean.userSecurity.hasAuthorityAdmin()}">
		               	    	<p:menuitem value="Laboratório" 
										action="pretty:pesquisarLaboratorio"/>
               	    			<p:menuitem value="Universidade" 
										action="pretty:pesquisarUniversidade"/>
               	    			<p:menuitem value="Serviço de Inspeção" 
										action="pretty:pesquisarServicoDeInspecao"/>
		               	    			
               	    			<p:menuitem value="Tipo chave principal - Visita" 
										action="pretty:pesquisarTipoChavePrincipalVisitaPropriedadeRural"
				                		rendered="#{loginManagedBean.userSecurity.hasAuthorityTipoChavePrincipalVisitaPropriedadeRural()}"/>
				                <p:menuitem value="Tipo chave secundária - Visita" 
										action="pretty:pesquisarTipoChaveSecundariaVisitaPropriedadeRural"
				                		rendered="#{loginManagedBean.userSecurity.hasAuthorityTipoChaveSecundariaVisitaPropriedadeRural()}"/>
				                		
		                		<p:menuitem value="Tipo chave principal - Termo" 
										action="pretty:pesquisarTipoChavePrincipalTermoFiscalizacao" 
				                		rendered="#{loginManagedBean.userSecurity.hasAuthorityTipoChavePrincipalTermoFiscalizacao()}"/>
				                <p:menuitem value="Tipo chave secundária - Termo" 
										action="pretty:pesquisarTipoChaveSecundariaTermoFiscalizacao"
				                		rendered="#{loginManagedBean.userSecurity.hasAuthorityTipoChaveSecundariaTermoFiscalizacao()}"/>
           	    			</p:submenu>
               	    	</p:submenu>
               	    	
               	    	
               	    			
						
               	    	<f:facet name="options">
               	    		<p:menuButton value="#{loginManagedBean.userSecurity.usuario.primeiroNome}">
               	    			<p:menuitem value="Dados da conta" 
	               	    			action="pretty:selfUsuario"/>
		               	    	<p:menuitem value="Logout" 
		               	    			url="/logout"/>
               	    		</p:menuButton>
               	    		
               	    		
               	    		<pe:tooltip for="servicosDeInspecaoAtual" 
               	    				autoShow="true" 
               	    				widgetVar="tip1"  
                					atPosition="top center" 
                					myPosition="bottom center"
                					rendered="#{loginManagedBean.userSecurity.usuario.usuarioServicoDeInspecao and not empty loginManagedBean.userSecurity.usuario.servicoDeInspecaoEmUso and empty loginManagedBean.userSecurity.usuario.servicoDeInspecaoEmUso.listaNumeroFormularioDeColheitaTroncoEncefalico}"
                					value="A numeração do Formulário de Colheita do Serviço de Inspeção em Uso ainda não foi inicializada"
                					styleClass="toolTipAlert"/>
                					  
               	    		<p:commandButton value="#{loginManagedBean.userSecurity.usuario.servicoDeInspecaoEmUso.porExtensoTipoENumero()}"
               	    				id="servicosDeInspecaoAtual"
               	    				ajax="true"
               	    				immediate="true"
               	    				rendered="#{loginManagedBean.userSecurity.usuario.usuarioServicoDeInspecao and not empty loginManagedBean.userSecurity.usuario.servicoDeInspecaoEmUso}"/>
       	    				
       	    				<p:commandButton value="Adicionar Serviço de Inspeção"
               	    				id="addServicosDeInspecao"
               	    				ajax="false"
               	    				immediate="false"
               	    				action="pretty:selfUsuario"
       	    						rendered="#{loginManagedBean.userSecurity.usuario.usuarioServicoDeInspecao and empty loginManagedBean.userSecurity.usuario.servicoDeInspecaoEmUso}"/>
               	    		
               	    		<p:overlayPanel id="selecionarServicosDeInspecao" 
               	    				for="servicosDeInspecaoAtual" 
               	    				hideEffect="fade"
               	    				style="width: 400px">
						        <p:dataTable value="#{loginManagedBean.userSecurity.usuario.listaServicoDeInspecao}" 
										var="usuarioServicoDeInspecao" 
										id="tableUsuarioServicoDeInspecaos">
											
									<p:column>
										#{usuarioServicoDeInspecao.servicoDeInspecao.porExtenso()}
									</p:column>
									
									<p:column headerText="Em Uso"
											style="width: 20%;">
										<p:selectBooleanCheckbox value="#{usuarioServicoDeInspecao.emUso}"
											disabled="#{usuarioServicoDeInspecao.emUso}">
											<p:ajax process="@this"
												update="@all"
												listener="#{loginManagedBean.selecionarServicoDeInspecaoEmUso(usuarioServicoDeInspecao)}"/>
										</p:selectBooleanCheckbox>
									</p:column>
									
									<p:column headerText="Último Número"
											style="width: 30%;">
										<h:outputLabel value="#{usuarioServicoDeInspecao.servicoDeInspecao.ultimoNumeroFormularioDeColheitaTroncoEncefalico}" 
												rendered="#{not empty usuarioServicoDeInspecao.servicoDeInspecao.ultimoNumeroFormularioDeColheitaTroncoEncefalico}"/>
										
										<p:commandButton value="Inicializar Numeração"
			               	    				id="addServicosDeInspecao"
			               	    				action="#{loginManagedBean.abrirTelaDeInicializacaoDeNumeracaoDeFormularioDeColheita(usuarioServicoDeInspecao.servicoDeInspecao)}"
			               	    				title="Inicializar Numeração"
			       	    						rendered="#{empty usuarioServicoDeInspecao.servicoDeInspecao.ultimoNumeroFormularioDeColheitaTroncoEncefalico}"
			       	    						onclick="PF('modalInicializarNumeroFormularioColheita').show();"
			       	    						immediate="true"/>
			       	    						
									</p:column>
								
								</p:dataTable>
							
						    </p:overlayPanel>
               	    	</f:facet>
               	    	
	                </p:menubar>
				</h:form>
				<br/>
	   	  	
   	  			<ui:insert name="body"/>
	   	  	</div>
	   	  	
	   	  	<div style="padding-left: 25px; padding-right: 25px">
	   	  	<ui:insert name="bodyFull"/>
	   	  </div>
	   	  </div>
	   	  
	   	  
		
		  <div id="footer">
		  	Versão #{messages.version} #{messages.state}
		  </div>
	
	  </div>
	  
	  <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">  
	  	<f:facet name="start">  
	    	<p:graphicImage value="/resources/img/ajax-loader.gif" />  
	    </f:facet>  
	  
	    <f:facet name="complete">
	        <h:outputText value="" />  
	    </f:facet>  
	  </p:ajaxStatus>  
	  
	  <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	  
	  <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	    <p:graphicImage value="/resources/img/ajax-loader.gif" />
	  </p:dialog>
	  
	  <p:dialog modal="true" id="modalInicializarNumeroFormularioColheita" 
			header="Inicializar numeração do Formulário de Colheita" 
			widgetVar="modalInicializarNumeroFormularioColheita" 
			width="750px"
			fitViewport="true" 
			closable="false"
			resizable="false">
			
		<p:outputPanel id="panelInicializarNumeracaoFormularioDeColheita" 
				layout="block">
			<h:form id="formModalInicializarNumeracaoFormularioDeColheita">
				
				<p>Informe qual foi o último número utilizado para criar um Formulário de Colheita e Envio de Tronco Encefálico para Diagnóstico de Encefalopatias	</p>
				
				<o:field label="Último número" 
						id="campoUltimoNumero">
					<p:inputNumber label="Último número" 
							id="ultimoNumero" 
							value="#{loginManagedBean.ultimoNumero}" 
							required="true"
							maxValue="999999"
							decimalPlaces="0"
							thousandSeparator=""/>
				</o:field>
				
				<p/>
				<div align="center">
					<p:commandButton id="btnAdd" 
							value="Salvar" 
							action="#{loginManagedBean.salvarUltimoNumeroDeFormularioDeColheita()}"
							process="@this :formModalInicializarNumeracaoFormularioDeColheita" 
							oncomplete="PF('modalInicializarNumeroFormularioColheita').hide();PF('modalInicializarNumeroFormularioColheita').initPosition();"
							ajax="false"/>
							
					<p:spacer width="5px"></p:spacer>
							
					<p:commandButton id="btnCancel" 
							value="Cancelar" 
							update="formModalInicializarNumeracaoFormularioDeColheita" 
							onclick="PF('modalInicializarNumeroFormularioColheita').hide();" 
							oncomplete="PF('modalInicializarNumeroFormularioColheita').initPosition();"
							immediate="true"/>
				</div>
				
			</h:form>
		</p:outputPanel>
	</p:dialog>
      
     
    
    <p:dialog modal="true" id="modalFormEduca" 
			header="Registro de Ações Educativas" 
			widgetVar="modalFormEduca" 
			width="400px"
			fitViewport="true" 
			closable="true"
			resizable="false">
			
		<p:outputPanel id="panelEducacaoSanitaria" 
				layout="block">
			<h:form id="formEducacaoSanitaria">
			
				<h3>Este formulário é preenchido na plataforma do Google Forms.</h3>
				
				<h4>Você será redirecionado para fora do SIZ. Clique em Prosseguir para continuar.</h4>
				
				
				<p/>
				<div align="center">
					<p:commandButton  
							value="Prosseguir" 
							onclick="window.open('https://forms.gle/pREpqHnmABKGBdMq5');return false;"/>
							
					<p:spacer width="5px"></p:spacer>
							
					<p:commandButton value="Fechar" 
							update="formEducacaoSanitaria" 
							onclick="PF('modalFormEduca').hide();" 
							oncomplete="PF('modalFormEduca').initPosition();"
							immediate="true"/>
				</div>
			</h:form>
		</p:outputPanel>
	</p:dialog>
	
	<p:dialog modal="true" id="modalFormGraf" 
			header="Registro de Distribuição de Materiais Gráficos" 
			widgetVar="modalFormGraf" 
			width="400px"
			fitViewport="true" 
			closable="true"
			resizable="false">
			
		<p:outputPanel id="panelGrafcaoSanitaria" 
				layout="block">
			<h:form id="formGrafcaoSanitaria">
			
				<h3>Este formulário é preenchido na plataforma do Google Forms.</h3>
				
				<h4>Você será redirecionado para fora do SIZ. Clique em Prosseguir para continuar.</h4>
				
				
				<p/>
				<div align="center">
					<p:commandButton  
							value="Prosseguir" 
							onclick="window.open('https://forms.gle/72fitLSYDpkkhpMg9');return false;"/>
							
					<p:spacer width="5px"></p:spacer>
							
					<p:commandButton value="Fechar" 
							update="formGrafcaoSanitaria" 
							onclick="PF('modalFormGraf').hide();" 
							oncomplete="PF('modalFormGraf').initPosition();"
							immediate="true"/>
				</div>
			</h:form>
		</p:outputPanel>
	</p:dialog>
   </h:body>
</html>