<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:composite="http://java.sun.com/jsf/composite"
   xmlns:p="http://primefaces.org/ui">

<!-- 	<composite:interface componentType="org.jboss.seam.faces.InputContainer"/> -->

	<composite:interface componentType="customInputContainer">
		<composite:attribute name="label"/>
		<composite:attribute name="rendered"/>
		<composite:attribute name="bold" default="false"/>
	</composite:interface>
	
	<composite:implementation>
		<div class="ui-fluid fieldComponent" style="font-size: 26px; padding-bottom: 25px">
			<div class="#{cc.attrs.invalid?'error':''}">
				<div style="padding-bottom: 10px">
					<h:outputLabel value="#{cc.attrs.label}" style="#{cc.attrs.bold ? 'font-weight: bold' : ''}">
						<h:outputText styleClass="required" 
								rendered="#{cc.attrs.required}" 
								value="*"/>
					</h:outputLabel>
				</div>
				<div class="value">
					<h:panelGroup rendered="#{cc.attrs.rendered}">
						<composite:insertChildren/>
					</h:panelGroup>
				</div>
				<div>
					<h:graphicImage value="/resources/img/16/error.gif" 
							rendered="#{cc.attrs.invalid}" />
					<h:message styleClass="errorMessage"/>
				</div>
			</div>
		</div>
	</composite:implementation>
   
   
</html>