<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="cadastro">
				
				<p:outputPanel rendered="#{empty tipoChavePrincipalTermoFiscalizacaoManagedBean.tipoChavePrincipalTermoFiscalizacao.id}">
					<h2>Novo Tipo chave principal</h2>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{not empty tipoChavePrincipalTermoFiscalizacaoManagedBean.tipoChavePrincipalTermoFiscalizacao.id}">
					<h2>Tipo chave principal</h2>
				</p:outputPanel>
				
				
				<br/>
				
				<p:panel>
					<p>Tipo chave principal</p>
					
					<o:field label="Nome" 
								id="fieldNome">
						<p:inputText label="Nome" 
								id="campoNome"
								value="#{tipoChavePrincipalTermoFiscalizacaoManagedBean.tipoChavePrincipalTermoFiscalizacao.nome}" 
								required="true"
								onkeyup="up(this)"
								size="70"/>
					</o:field>
				
				</p:panel>
				
				<br/>
				<div class="buttonBar">
					<p:commandButton value="Salvar" 
							action="#{tipoChavePrincipalTermoFiscalizacaoManagedBean.adicionar()}" 
							ajax="false"/>
					<p:commandButton value="Cancelar" 
							action="pretty:pesquisarTipoChavePrincipalTermoFiscalizacao" 
							ajax="false" 
							immediate="true"/>
				</div>
				
			</h:form>
		</ui:define>
	</ui:decorate>

</html>
