<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://java.sun.com/jsf/composite/componentes"
	xmlns:p="http://primefaces.org/ui">

	<ui:decorate template="/resources/templates/template_timeout.xhtml">
		
		<ui:define name="body">
			
			<h:form id="cadastro">
				
				<p:outputPanel rendered="#{empty universidadeManagedBean.universidade.id}">
					<h2>Nova Universidade</h2>
				</p:outputPanel>
				
				<p:outputPanel rendered="#{not empty universidadeManagedBean.universidade.id}">
					<h2>Universidade</h2>
				</p:outputPanel>
				
				<ui:include src="../includes/../includes/include_pessoa.xhtml">
					<ui:param name="managedBean" 
							value="#{universidadeManagedBean}" />
				</ui:include>
				
				<br/>
				
				<div class="buttonBar">
					<p:commandButton value="Salvar"
							action="#{universidadeManagedBean.adicionar()}" 
							ajax="false"/>
					<p:commandButton value="Cancelar" 
							action="pretty:pesquisarUniversidade" 
							ajax="false" 
							immediate="true"/>
				</div>
				
			</h:form>
		</ui:define>
	</ui:decorate>
	
</html>